DATABASE_URL=<YOUR_DATABASE_URL>
DISCORD_TOKEN=<YOUR_DISCORD_BOT_TOKEN>
DISCORD_TAPE_CHANNEL_ID=<YOUR_DISCORD_CHANNEL_ID_FOR_TAPE>
DISCORD_ROADMAP_THREAD_ID=<YOUR_DISCORD_THREAD_ID_FOR_ROADMAP>
DISCORD_HIGH_IMPACT_USER_IDS=<YOUR_DISCORD_HIGH_IMPACT_USER_IDS>
DISCORD_HIGH_IMPACT_ROLE_IDS=<YOUR_DISCORD_HIGH_IMPACT_ROLE_IDS>
ZN_TIMEZONE=America/New_York
ZN_POLL_INTERVAL_MS=60000
ZN_MAX_ITEM_AGE_HOURS=48