DATABASE_URL=<YOUR_DATABASE_URL>
DISCORD_TOKEN=<YOUR_DISCORD_BOT_TOKEN>
DISCORD_TAPE_CHANNEL_ID=<YOUR_DISCORD_CHANNEL_ID_FOR_TAPE>
DISCORD_DRIVER_BOARD_CHANNEL_ID=<YOUR_DISCORD_CHANNEL_ID_FOR_DRIVER_BOARDS>
DISCORD_DRIVER_BOARD_HORMUZ_RED_SEA_THREAD_ID=<YOUR_DISCORD_THREAD_ID>
DISCORD_DRIVER_BOARD_RUSSIA_UKRAINE_THREAD_ID=<YOUR_DISCORD_THREAD_ID>
DISCORD_DRIVER_BOARD_GEOPOLITICS_CONFLICT_THREAD_ID=<YOUR_DISCORD_THREAD_ID>
DISCORD_DRIVER_BOARD_MACRO_RATES_FX_THREAD_ID=<YOUR_DISCORD_THREAD_ID>
DISCORD_DRIVER_BOARD_ENERGY_LNG_SHIPPING_THREAD_ID=<YOUR_DISCORD_THREAD_ID>
DISCORD_DRIVER_BOARD_AGRICULTURE_WEATHER_THREAD_ID=<YOUR_DISCORD_THREAD_ID>
DISCORD_DRIVER_BOARD_CHINA_ASIA_THREAD_ID=<YOUR_DISCORD_THREAD_ID>
DISCORD_DRIVER_BOARD_TRADE_POLICY_SANCTIONS_THREAD_ID=<YOUR_DISCORD_THREAD_ID>
DISCORD_DRIVER_BOARD_RESOURCES_EM_THREAD_ID=<YOUR_DISCORD_THREAD_ID>
DISCORD_DRIVER_BOARD_CYBER_MARKET_STRUCTURE_THREAD_ID=<YOUR_DISCORD_THREAD_ID>
DISCORD_DIGEST_CHANNEL_ID=<YOUR_DISCORD_CHANNEL_ID_FOR_DAILY_AND_WEEKLY_DIGESTS>
DISCORD_ROADMAP_THREAD_ID=<YOUR_DISCORD_THREAD_ID_FOR_ROADMAP>
DISCORD_HIGH_IMPACT_USER_IDS=<YOUR_DISCORD_HIGH_IMPACT_USER_IDS>
DISCORD_HIGH_IMPACT_ROLE_IDS=<YOUR_DISCORD_HIGH_IMPACT_ROLE_IDS>
ZN_TIMEZONE=America/New_York
ZN_POLL_INTERVAL_MS=60000
ZN_MAX_ITEM_AGE_HOURS=48
